.btn {
  border: none;
  background-color: #10224d;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.btn:hover {
  background-color: #1b3268;
}

mat-icon {
  color: var(--color-font-secondary);
}
