<app-button-back
  (click)="navigateService.navigateToHomeNoUser(); reset()"
  *ngIf="userService.existUser()"
></app-button-back>

<div class="home">
  <div class="infor">
    <div class="social">
      <mat-icon class="icon">people_alt</mat-icon>
      <span [routerLink]="['followers']" class="follow no-select link">
        {{ userService.user.followers + ' ' + ("HOME-USER.FOLLOWERS" | translate) }}
      </span>
      -
      <span [routerLink]="['following']" (click)="starredService.getStarredPerPage(1)" class="follow no-select link">
        {{ userService.user.following + ' ' + ("HOME-USER.FOLLOWING" | translate) }}
      </span>
    </div>

    <div class="social">
      <mat-icon class="icon" *ngIf="userService.user.company">business</mat-icon>
      <span *ngIf="userService.user.company">
        {{ userService.user.company }}
      </span>
      <mat-icon class="icon" *ngIf="userService.user.location">location_on</mat-icon>
      <a class="link" *ngIf="userService.user.location" target="_blank" [href]="locationMaps()">
        {{ userService.user.location }}
      </a>
      <mat-icon class="icon" [ngClass]="{ 'repos-loading': starredService.loadingTotal }">star</mat-icon>
      <span *ngIf="!starredService.loadingTotal" [routerLink]="['starred']" class="starred no-select link">
        {{ starredService.totalStarred.length }}
      </span>
    </div>

    <div class="bio" *ngIf="userService.user.bio">
      {{ userService.user.bio }}
    </div>

    <div class="voice" *ngIf="userService.user.bio">
      <button
        (click)="voicesService.speakBio(userService.user.bio || 'sem bio')"
      >
        <mat-icon>volume_up</mat-icon>
      </button>
    </div>
  </div>

  <app-contacts></app-contacts>

  <div class="public-repositories" id="repos">
    {{ userService.user.public_repos }}
    {{ "HOME-USER.PUBLIC-REPOS" | translate }}
  </div>

  <app-list-repos></app-list-repos>
</div>
