.home-no-profile {
  width: 100vw;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-user {
  background-color: #fff;
  width: 100%;
  max-width: 600px;
  height: 160px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-user-image {
  width: 150px;
  height: 150px;
  background: #666;
  border: 5px solid #fff;
  border-radius: 50%;
  margin-top: -60px;

  display: flex;
  justify-content: center;
  overflow: hidden;
}

.loading {
  animation: rotacionar 3s infinite linear;
}

@keyframes rotacionar {
  100% {transform: rotate(360deg);}
}

.no-user-image img {
  padding-top: 28px;
  width: 120px;
}

.circles {
  padding-top: 15px;
  width: 100px;
  height: 10px;
  display: flex;
  justify-content: space-around;
}

.circles div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #666;
}

@media (max-height: 470px) {
  .home-no-profile {
    display: none;
  }
}

@media (min-height: 470px) {
  .no-user{
    height: 200px;
  }
}

@media (min-height: 570px) {
  .no-user{
    height: 250px;
  }
}

@media (min-height: 670px) {
  .no-user{
    height: 300px;
  }
}

@media (min-height: 770px) {
  .no-user{
    height: 350px;
  }
}
