.home-no-profile {
  width: 100%;
  margin-top: 150px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-user {
  background-color: var(--color-bg-primary);
  width: 100%;
  min-height: 60vh;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-user-image {
  width: 150px;
  height: 150px;
  background: #666;
  border: 5px solid var(--color-bg-primary);
  border-radius: 50%;
  margin-top: -60px;

  display: flex;
  justify-content: center;
  overflow: hidden;
}

.loading {
  animation: rotacionar 3s infinite linear;
}

@keyframes rotacionar {
  100% {transform: rotate(360deg);}
}

.no-user-image img {
  padding-top: 28px;
  width: 120px;
}

.circles {
  padding-top: 15px;
  width: 100px;
  height: 10px;
  display: flex;
  justify-content: space-around;
}

.circles div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #666;
}
