<div class="home">
  <div class="home-usuario">
    <div class="sobre">
      <app-button></app-button>
    </div>

    <div class="title">
      <div>Git</div>
      <div class="dex">Dex</div>
    </div>

    <div class="description" *ngIf="!usuarioService.existeUsuario()">
      <div>Quem é</div>
      <div class="programador">esse programador?</div>
    </div>

    <div
      [formGroup]="myForm"
      class="usuario-input"
      *ngIf="!usuarioService.existeUsuario()"
    >
      <input
        type="text"
        placeholder="Nome de usuário"
        [formControlName]="'user'"
        [name]="'user'"
        id="user"
        (keyup.enter)="onEnter()"
      />
    </div>

    <div class="barra" *ngIf="!usuarioService.existeUsuario()">
      <div></div>
    </div>
  </div>

  <app-home-com-usuario
    *ngIf="usuarioService.existeUsuario(); else semUsuario"
    style="z-index: 10"
  ></app-home-com-usuario>

  <ng-template #semUsuario>
    <app-home-sem-usuario style="z-index: 10"></app-home-sem-usuario>
  </ng-template>
</div>
