<button class="btn-settings" [matMenuTriggerFor]="configs">
  <mat-icon class="icon-settings">settings</mat-icon>
</button>
<mat-menu #configs="matMenu" yPosition="above">
  <div class="menu-btn">
    <div>
      <label class="switch">
        <input type="checkbox" (click)="toggle()" />
        <span class="slider round"></span>
      </label>
    </div>

    <div>
      {{ "CONFIG.DARKMODE" | translate }}
    </div>
  </div>
  <div class="menu-btn">
    <div>
      <button class="language" mat-menu-item [matMenuTriggerFor]="languages">
        {{ translate.currentLang }}
      </button>
    </div>

    <div>
      {{ "CONFIG.LANGUAGE" | translate }}
    </div>
  </div>
</mat-menu>

<mat-menu #languages="matMenu" xPosition="before" yPosition="above">
  <button
    class="select-language"
    *ngFor="let lang of translate.getLangs()"
    (click)="setLanguage(lang)"
  >
    {{ lang }}
  </button>
</mat-menu>
