.btn-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn-settings:hover .icon-settings {
  color: var(--color-tertiary);
  animation: configs 0.5s linear;
}

.icon-settings {
  width: 2.1rem;
  height: 2.1rem;
  font-size: 2rem;
  color: var(--color-primary);
}

@keyframes configs {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  margin-top: 5px;
  padding-top: 5px;
  font-weight: 500;
}

.menu-btn div{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: var(--color-white);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color-tertiary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.mat-menu-item-submenu-trigger::after {
  display: none;
}

.language {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  font-weight: bold;
  color: var(--color-font-primary);
}

.select-language {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  padding: 7px 0px 7px 0px;
  font-weight: bold;
  color: var(--color-font-primary);
}

.select-language:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
