<button class="btn-settings" mat-icon-button [matMenuTriggerFor]="configs">
  <mat-icon class="icon-settings">settings</mat-icon>
</button>
<mat-menu #configs="matMenu">
  <div class="menu-btn">
    <div>
      <label class="switch">
        <input type="checkbox" (click)="toggle()" />
        <span class="slider round"></span>
      </label>
    </div>

    <div>
      {{ "CONFIG.DARKMODE" | translate }}
    </div>
  </div>
  <div class="menu-btn">
    <div>
      <select
        #langSelect
        (change)="translate.use(langSelect.value)"
        class="select-lang"
      >
        <option
          *ngFor="let lang of translate.getLangs()"
          [value]="lang"
          [selected]="lang === translate.currentLang"
        >
          {{ lang }}
        </option>
      </select>
    </div>

    <div>
      {{ "CONFIG.LANGUAGE" | translate }}
    </div>
  </div>
</mat-menu>
