<app-github-corner></app-github-corner>

<div class="home">
  <div class="home-user">
    <div class="title">
      <div>Git</div>
      <div class="dex">Dex</div>
    </div>

    <div class="description" *ngIf="!userService.existUser()">
      <div>{{ 'HOME.DESCRIPTION' | translate }}</div>
      <div class="programmer">{{ 'HOME.DESCRIPTION-2' | translate }}</div>
    </div>

    <div
      [formGroup]="myForm"
      class="user-input"
      *ngIf="!userService.existUser()"
    >
      <input
        type="text"
        placeholder="{{ 'HOME.INPUT' | translate }}"
        [formControlName]="'user'"
        [name]="'user'"
        id="user"
        (keyup.enter)="onEnter()"
      />
    </div>

    <div class="bar" *ngIf="!userService.existUser()">
      <div></div>
    </div>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="configs">
  <app-configs></app-configs>
</div>
