<app-github-corner></app-github-corner>

<div class="home">
  <div class="home-user">
    <div class="title">
      <div>Git</div>
      <div class="dex">Dex</div>
    </div>

    <div class="description" *ngIf="!userService.existUser()">
      <div>Quem é</div>
      <div class="programmer">esse programador?</div>
    </div>

    <div
      [formGroup]="myForm"
      class="user-input"
      *ngIf="!userService.existUser()"
    >
      <input
        type="text"
        placeholder="Nome de usuário"
        [formControlName]="'user'"
        [name]="'user'"
        id="user"
        (keyup.enter)="onEnter()"
      />
    </div>

    <div class="bar" *ngIf="!userService.existUser()">
      <div></div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
