.home-profile {
  padding-top: 120px;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.with-user {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.with-user-image {
  width: 150px;
  height: 150px;
  background: #666;
  border: 5px solid #fff;
  border-radius: 50%;
  margin-top: -60px;

  display: flex;
  justify-content: center;
  overflow: hidden;
}

.with-user-image img {
  width: 100%;
}

.name-user {
  padding-top: 10px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
}

.login {
  padding-top: 5px;
  text-align: center;
  font-size: 1rem;
  color: #666;
}

.share {
  margin-top: 10px;
  display: flex;
}
.share div {
  padding: 0px 5px 0px 5px;
}

.share button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.qrcode mat-icon, .link mat-icon {
  font-size: 2rem;
  color: #09142c;
}

.qrcode mat-icon:hover, .link mat-icon:hover {
  color: #005390;
}

.infor {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 85vw;
  max-width: 640px;
  padding: 10px;
  margin-top: 15px;
  border-radius: 20px;
}

.bio {
  text-align: center;
  margin-top: 10px;
  min-width: 250px;
  font-size: 1rem;
  padding: 5px;
  padding-bottom: 10px;
}

.voice {
  width: 100%;
  display: flex;
  justify-content: center;
}

.voice button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.voice button mat-icon {
  color: #09142c;
  font-size: 2rem;
}

.voice button mat-icon:hover {
  color: #345292;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-weight: 500;
  font-size: 0.9rem;
}

.public-repositories {
  margin-top: 60px;
  border-radius: 10px;
  background-color: #7a2364;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  width: 85%;
  max-width: 250px;
  padding: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.public-repositories:hover {
  opacity: 0.8;
}

.icon {
  margin: 0px 5px 0px 5px;
  color: #fff;
}

.social .icon{
  color: #09142c;
}

::ng-deep snack-bar-container.custom-class {
  background: #09142c;
}

::ng-deep .custom-class .mat-simple-snackbar span{
  color: #ffffff;
  font-weight: bold;
}
