.home-profile {
  width: 100%;
  margin-top: 150px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.with-user {
  background-color: var(--color-bg-primary);
  width: 100%;
  height: 100%;
  min-height: 60vh;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.with-user-image {
  width: 150px;
  height: 150px;
  background: #666;
  border: 5px solid var(--color-bg-primary);
  border-radius: 50%;
  margin-top: -60px;

  display: flex;
  justify-content: center;
  overflow: hidden;
}

.with-user-image img {
  width: 100%;
}

.with-user-image a {
  text-decoration: none;
}

.name-user {
  padding-top: 10px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
}

.login {
  padding-top: 5px;
  text-align: center;
  font-size: 1rem;
  color: var(--color-font-tertiary);
}

.share {
  margin-top: 10px;
  display: flex;
}
.share div {
  padding: 0px 5px 0px 5px;
}

.share button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.qrcode mat-icon, .link mat-icon {
  font-size: 2rem;
  color: var(--color-primary);
}

.qrcode mat-icon:hover, .link mat-icon:hover {
  color: var(--color-tertiary);
}

::ng-deep snack-bar-container.custom-class {
  background: var(--color-primary);
}

::ng-deep .custom-class .mat-simple-snackbar span{
  color: var(--color-font-secondary);
  font-weight: bold;
}
