<app-button-back
  (click)="navigateBack()"
  *ngIf="userService.existUser()"
></app-button-back>

<div class="home-profile" *ngIf="userService.existUser(); else noUser">
  <div class="with-user">
    <div class="with-user-image">
      <a href="https://github.com/{{ userService.user.login }}" target="_blank">
        <img src="{{ userService.user.avatar_url }}" alt="Usuário"/>
      </a>
    </div>

    <div class="name-user">
      {{ userService.user.name }}
    </div>

    <div class="login">
      {{ userService.user.login }}
    </div>

    <div class="share">
      <div class="qrcode">
        <button type="button" (click)="openQRCode()">
          <mat-icon>qr_code_2</mat-icon>
        </button>
      </div>
      <div class="link">
        <button [cdkCopyToClipboard]="link" (click)="copyLink()">
          <mat-icon>link</mat-icon>
        </button>
      </div>
    </div>

    <div class="infor">
      <div class="social">
        <mat-icon class="icon">people_alt</mat-icon>
        {{ userService.user.followers }}
        {{ "HOME-USER.FOLLOWERS" | translate }} -
        {{ userService.user.following }} {{ "HOME-USER.FOLLOWING" | translate }}
      </div>

      <div class="social">
        <mat-icon class="icon">location_on</mat-icon>
        {{ userService.user.location }} -
        <mat-icon class="icon">star</mat-icon>
        {{ userService.totalStars }}
      </div>

      <div class="bio">
        {{ userService.user.bio }}
      </div>

      <div class="voice">
        <button
          (click)="voicesService.speakBio(userService.user.bio || 'sem bio')"
        >
          <mat-icon>volume_up</mat-icon>
        </button>
      </div>
    </div>

    <app-contacts></app-contacts>

    <div class="public-repositories" id="repos">
      {{ userService.user.public_repos }}
      {{ "HOME-USER.PUBLIC-REPOS" | translate }}
    </div>

    <app-list-repos></app-list-repos>
  </div>
</div>

<app-scroll-top></app-scroll-top>

<ng-template #noUser>
  <app-home-no-user></app-home-no-user>
</ng-template>
