<div class="contacts" [ngClass]="reposService.showReposBoolean ? 'repos-active' : ''">
  <div>
    <a
      href="https://github.com/{{ userService.user.login }}"
      target="_blank"
      ><i class="fab fa-github"></i>{{ userService.user.login }}</a
    >
  </div>
  <div *ngIf="userService.user.twitter_username != null">
    <a
      href="https://twitter.com/{{
        userService.user.twitter_username
      }}"
      target="_blank"
      ><i class="fab fa-twitter"></i
      >{{ userService.user.twitter_username }}</a
    >
  </div>
</div>
