.contacts {
  margin-top: 60px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  display: flex;
}

.repos-active {
  margin-top: 0px;
}

.contacts div {
  padding: 5px 5px 5px 5px;
}

.contacts a {
  font-size: 0.9rem;
  text-decoration: none;
}

.contacts i {
  padding-right: 3px;
  color: var(--color-primary);
}
