@import "./../../../../assets/scss/color-language.scss";

.showRepos {
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.grid-repos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

.repo {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--color-bg-tertiary);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.repo-name {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.repo-name a {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color-primary);
  text-align: center;
}

.repo-name a:hover {
  color: var(--color-tertiary);
}

.repo-description {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  color: var(--color-font-primary);
}

.repo-count {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.repo-count div {
  font-size: 1rem;
  background-color: var(--color-bg-secondary);
  border-radius: 7px;
  padding: 4px;
  margin: 5px;
  font-weight: bold;
  color: var(--color-font-primary);
}

.infinite-scroll-loading {
  padding-top: 20px;
  padding-bottom: 20px;
}

.infinite-scroll-loading .icon {
  font-size: 2rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
}

.repos-loading {
  animation: rotacionar 2s infinite linear;
}

@keyframes rotacionar {
  100% {transform: rotate(360deg);}
}

.div-pagination {
  z-index: 100;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding-bottom: 20px;
}

.my-pagination ::ng-deep .ngx-pagination ul {
  padding: 0;
  margin: 0;
}

.my-pagination ::ng-deep .ngx-pagination li {
  font-weight: bold;
}

.my-pagination ::ng-deep .ngx-pagination li span {
  color: var(--color-font-primary);
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: var(--color-tertiary);
  border-radius: 5px;
}

.my-pagination ::ng-deep .ngx-pagination a:hover,
.ngx-pagination button:hover {
  opacity: 0.8;
  outline: none;
}

.my-pagination ::ng-deep .ngx-pagination .pagination-next a::after,
.my-pagination ::ng-deep .ngx-pagination .pagination-next.disabled::after,
.my-pagination ::ng-deep .ngx-pagination .pagination-previous a::before,
.my-pagination ::ng-deep .ngx-pagination .pagination-previous.disabled::before {
  font-size: 1.5rem;
  color: var(--color-tertiary);
}

@media (max-width: 1000px) {
  .grid-repos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
  }
}

@media (max-width: 650px) {
  .grid-repos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .repo {
    width: 90%;
  }
}
