<div class="showRepos">
  <div class="div-pagination">
    <a href="/user/{{ userService.user.login }}#repos">
      <pagination-controls
        class="my-pagination"
        (pageChange)="reposService.currentPage = $event"
        [maxSize]="3"
        previousLabel=""
        nextLabel=""
        [autoHide]="true"
      ></pagination-controls>
    </a>
  </div>

  <mat-grid-list
    [cols]="breakpoint"
    rowHeight="2:1.5"
    (window:resize)="onResize($event)"
    class="repos"
  >
    <mat-grid-tile
      *ngFor="
        let repo of reposService.listRepo
          | paginate
            : { itemsPerPage: 6, currentPage: reposService.currentPage };
        let i = index
      "
    >
      <div class="repo">
        <div class="repo-name">
          <a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a>
        </div>
        <div class="repo-description">{{ repo.description }}</div>
        <div class="repo-count">
          <div>{{ repo.forks_count }} <i class="fas fa-code-branch"></i></div>
          <div>{{ repo.stargazers_count }} <i class="fas fa-star"></i></div>
          <div>
            {{ repo.language }}
            <i class="fas fa-circle {{ repo.language }}"></i>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
