@import "./../../../../assets/scss/color-language.scss";

.showRepos {
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repos {
  width: 90%;
}

.repo {
  width: 90%;
  height: 80%;
  padding: 20px;
  background-color: var(--color-bg-tertiary);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.repo-name {
  width: 100%;
  display: flex;
  justify-content: center;
}

.repo-name a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color-primary);
  text-align: center;
}

.repo-name a:hover {
  color: var(--color-tertiary);
}

.repo-description {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  color: var(--color-font-primary);
}

.repo-count {
  width: 100%;
  display: flex;
  justify-content: center;
}

.repo-count div {
  font-size: 1rem;
  background-color: var(--color-bg-secondary);
  border-radius: 7px;
  padding: 4px;
  margin: 5px;
  font-weight: bold;
  color: var(--color-font-primary);
}

.div-pagination {
  z-index: 100;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: -60px;
  padding-bottom: 20px;
}

.my-pagination ::ng-deep .ngx-pagination ul {
  padding: 0;
  margin: 0;
}

.my-pagination ::ng-deep .ngx-pagination li {
  font-weight: bold;
}

.my-pagination ::ng-deep .ngx-pagination li span {
  color: var(--color-font-primary);
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: var(--color-tertiary);
  border-radius: 5px;
}

.my-pagination ::ng-deep .ngx-pagination a:hover,
.ngx-pagination button:hover {
  opacity: 0.8;
  outline: none;
}

.my-pagination ::ng-deep .ngx-pagination .pagination-next a::after,
.my-pagination ::ng-deep .ngx-pagination .pagination-next.disabled::after,
.my-pagination ::ng-deep .ngx-pagination .pagination-previous a::before,
.my-pagination ::ng-deep .ngx-pagination .pagination-previous.disabled::before {
  font-size: 1.5rem;
  color: var(--color-tertiary);
}

@media (max-width: 1100px) {
  .div-pagination {
    margin-top: -40px;
  }
}

@media (max-width: 950px) {
  .div-pagination {
    margin-top: -80px;
  }
}

@media (max-width: 750px) {
  .div-pagination {
    margin-top: -60px;
  }
}

@media (max-width: 650px) {
  .div-pagination {
    margin-top: -120px;
  }
}
